language: node_js
node_js:
- 8
branches:
  only:
  - master
before_install:
- python3 --version
- pip --version
- pip install awscli --upgrade --user
- aws --version
- npm install -g hexo-cli
- npm install
install:
- hexo generate
notifications:
  slack:
    secure: WWadkpupU0eA0nGVm4yds4Jh8J4HYnktg61kj3tmzlUBR81ppEU2fDdXKoqQk3jAEP3b8bkT4UeVE+nvG8VZYyk4tMirWtwS0HeoIPeaZtUCe6Gg+Ff0xs92PTDCKAy/qS6UfENNVgdwQkOiSt/8IspDahZMBr0JSnTM014rrYSGME4ZMBauzKIBLxrWUNgXJ2Nhn4J7l2/rZGWpjG7OU5evMhSpIs+ikM/yYX0iI9d/4r8HA1Q2BLR0tXFjsLSGlDUeIpxUjatEO3C5+lp/xNnrMNNxNKLV7UoujCXtRPFYzh8e4CUM+cS8o3iDiQR4SxlJeD2lxcWejCNqptAQ8XMTax4VcFBr3H2x6m6Rv/1b2+amOM2nmA3U+XWVMwylUppm0IKyzMtKVxYBuK7O38CRT3nI+MFPFM9IxFYl8VXNYgX5NYmma5xOpBnMIqDmS8r5apxoRinLqUoDSXOSOIY4jiw4SUY9qHc2PHlHERsfL68JlIS2qljOu3hZjFE5mE/4GKaTA9R+2ZS3VZ2/w1QYqWxgmxL/YGTyVCuzCxnA94xIVTAc+D946ELczPkPW5hvEn7v4usKHXe4pfLQLIgFdVG+bjvNviaV6wrpWEEU+qQysuBx3vLu/VVgfeoZmMdE58h9gEf6QqqB2y0kZXS1AIsgnfo2NIOf7sRwqlE=
deploy:
  provider: s3
  bucket: westerndevs.com
  region: ca-central-1
  acl: public_read
  skip_cleanup: true
  local-dir: public
  on:
    repo: westerndevs/western-devs-website
    branch: master
after_deploy:
- aws cloudfront create-invalidation --distribution-id "$CLOUDFRONT_DISTRIBUTION_ID"
  --paths "/*"
