# Site wide configuration

title:            Western Devs
locale:           en_US
url:              http://www.westerndevs.com

excerpt_separator: <!--more-->


# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap
  - jekyll-redirect-from

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false


# Site owner
owner:
  name: Western Devs
  avatar: luchador.png
  bio: "We're but a humble group of amazing developers with a common trait: we're all west of somewhere else."
  email: info@westerndevs.com
  disqus-shortname: western-devs
  twitter: westerndevs
  rss: http://www.westerndevs.com/feed
  facebook: #username
  google:
    plus: #username
    analytics: UA-37617956-2
    verify: 
    ad-client: 
    ad-slot: 
  bing-verify: 
  github: westerndevs
  stackoverflow: #http://stackoverflow.com/users/123456/username
  linkedin: #username
  xing: #username
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: #username

include: [".htaccess"]
exclude: ["vendor", "lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]

# Travis vars used in rakefile
relative_source: ../westerndevs-website.github.io/
destination: ../westerndevs-website.github.io-pages/

username: westerndevs
repo: western-devs-website
branch: source
