<p>{{ page.excerpt }}</p>
<div>
{% if page.libsyn %}
<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/{{page.libsyn}}/height/50/width/640/theme/standard/direction/no/autoplay/no/autonext/no/thumbnail/no/preload/no/no_addthis/no/" height="50" width="640" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
{% else %}
<audio controls="" preload="metadata">
<source src="http://cdn.westerndevs.com/podcasts/{{page.podcast}}" type="audio/mpeg">
</audio>
{% endif %}
</div>
<enclosure url="http://traffic.libsyn.com/westerndevspodcast/Zencastr.mp3" length="43997390" type="audio/mpeg" ></enclosure>
{% if page.libsyn %}
<a class="btn btn-info" href="http://traffic.libsyn.com/westerndevspodcast/{{page.podcast}}" role="button" download>Download MP3</a>
{% else %}
<a class="btn btn-info" href="http://cdn.westerndevs.com/podcasts/{{page.podcast}}" role="button" download>Download MP3</a>
{% endif %}
<h3>Participants</h3>
<ul>
{% assign sorted = page.participants | sort %}
{% for participant in sorted %}
  {% assign author = site.data.authors[participant] %}
  	{% if author %}
	<li><a href="/bios/{{participant}}">{{author.name}}</a></li>
	{% else %}
	<li>{{participant | replace:"_"," " | capitalize_all }}</li>
	{% endif %}
{% endfor %}
</ul>
