<p>{{ page.excerpt }}</p>
<div>
<audio controls="">
<source src="http://cdn.westerndevs.com/podcasts/{{page.podcast}}" type="audio/mpeg">
</audio>
</div>
<a class="btn btn-info" href="http://cdn.westerndevs.com/podcasts/Microservices.mp3" role="button">Download MP3</a>
<h4>Participants</h4>
<ul>
{% assign sorted = page.participants | sort %}
{% for participant in sorted %}
  {% assign author = site.data.authors[participant] %}
  	{% if author %}
	<li><a href="/bios/{{participant}}">{{author.name}}</a></li>
	{% else %}
	<li>{{participant | replace:"_"," " | capitalize_all }}</li>
	{% endif %}
{% endfor %}
</ul>
