
.post {
  
  p {
    margin-top:0;
    margin-bottom: .8em;
    text-indent:0;
  }
}

.post-index, .home {
  
  article {
    p {
      margin-top:0;
      margin-bottom: .4em;
      text-indent:0;
    }
    margin-bottom: 30px;
  }
}