
.pills {
  margin-bottom: 20px;
  text-align: center;
  
  .pill {
    display: inline-block;
    width: 25%;
    border-radius: 5px;
    background: #314D9C;
    color:white;
    margin-right: 20px;
    text-align:center;
    padding:5px;
    
    a {
      color: white;
      
      &:hover {
        color: #E5E5E5;
      }
    }
  }
}

.things-weve-done {
  clear: both;

  margin-top: 30px;
  .back-to-top {
    font-size: 1rem;
  }

  .articles {
    padding-left: 15px;
  }

  article {
    background-color: #fff;
    box-sizing: border-box;
    @include rounded;
    @include box-shadow;
    border: 1px solid #ccc;
    margin: 0 0 25px;
    display: inline-block;
    padding: 20px;
    width: 100%;

    .title {
      font-size: 1.5rem;
      line-height: 1.4444;
      margin-bottom: .8rem;
      font-family: "PT Sans Narrow",sans-serif;
      font-weight:bold;
    }

    .image {
      text-align: center;
    }

    .author {
      display: inline-block;
      margin-left: 10px;
      font-size: 1rem;
      font-weight: normal;
    }
  
  }
}

.apps {
  @extend .things-weve-done;
  
  article {
    .image {
      margin-bottom: 10px;
    }
    
  }
}

.code-libs {
  @extend .things-weve-done;
}

.books {
  @extend .things-weve-done;

  div.articles {
    padding-left: 15px;
  }

  article {
    &:first-child {
    }
    height: 323px;
    vertical-align:top;
    display: inline-block;
    padding: 15px;
    margin: 0 10px 25px 0;
    @media #{$micro} {
      width: 45%;
    }
    @media #{$large} {
      width: 31%;
    }
    .image {
      max-height: 218px;
      text-align: center;
      margin-bottom: 10px;
    }

    .title {
      font-size: 1rem;
      margin-bottom: 0px;
    }
    
    .author {
      font-size: .7rem;
      display: block;
      margin: 0;
    }
  }
}
.publication {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  width:280px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  float: left;
  margin: 0 15px 25px;
  min-height: 480px;

  .image {
    position: relative;
    height: 380px;

    img {
      border-radius: 5px 5px 0 0;
      width: 100%;
    }
  }

  .content {
    padding: 15px 20px;

    .title {
      font-size: 16px;
      margin: 0;
    }

    span {
      font-size: 12px;
    }
  }
}
