---
layout: page
title: Who We Are
tags: 
modified: 2015-06-22
comments: true
---

p Founded by Dave Woods, Western Devs is a passionate group that grew out of a small mailing list of developers who would cross paths during conferences. Over the years, the group has proved to be of tremendous value to its members through its balance of technical content and camaraderie. Western Devs is our attempt to share that content without diluting its value.

p 
    ' In these pages, you'll find posts, publications, and upcoming talks by our members. You'll find posts summarizing some of our technical discussions and, if you follow us on
    a href="https://twitter.com/{{ site.owner.twitter }}" Twitter
    ' , a summary of our not-so-technical discussions.

p style='margin-top:15px;' 
    ' The current active roster is:

ul.roster
{% for hash in site.data.authors %}
    li 
        a href="/bios/{{hash[0]}}" {{ hash[1].name }}
{% endfor %}