<div class='postTitle'>
  <div class="ListLrgDateBG">
    <div class="ListLrgDateMonth"><%= moment(postDate).format('MMM').toUpperCase() %></div>
    <div class="ListLrgDateDay"><%= moment(postDate).format('D') %></div>
    <div class="ListLrgDateYear"><%= moment(postDate).format('YYYY') %></div>
  </div>
  <h2><%= title %></h2>
</div>
