<div class='postTitle'>
  <div class="ListLrgDateBG">
    <div class="ListLrgDateMonth"><%= moment(post.date).format('MMM').toUpperCase() %></div>
    <div class="ListLrgDateDay"><%= moment(post.date).format('D') %></div>
    <div class="ListLrgDateYear"><%= moment(post.date).format('YYYY') %></div>
  </div>
  <h2><%= title %></h2>
</div>
