<img class="icon" src="/images/icon_circle_arrow.png" alt=">" title=">" border="0" style="vertical-align: top;"> <h2 style="display: inline-block; width: 620px; margin-top: 7px;"><%= post.title %></h2>
