<!--FEATURE STARTS-->
<div class="HomeBox4">
  <div class="HomeBox4Txt">
    <div class="HomeFeatureImg" style="background-image: url('images/DarcyLussier.jpg'); ">&nbsp;</div>
    <H3>D'Arcy Lussier</H3>
    D’Arcy Lussier is an experienced technology professional with 15 years of experience architecting and developing applications. He is a Microsoft Certified Professional Developer and has been awarded a Microsoft Most Valuable Professional award in ASP.NET from 2008 through 2015...
    <BR>
    <a href="">> LEARN MORE</a>

  </div>
  <a href="/whatwevedone"><img class="HomeBoxFeatureImg" src="images/bg_home_feature.png" alt="Feature" title="Feature" border="0"></a>   
  
</div>
<!--FEATURE ENDS-->


