<!--RECENT POSTS STARTS-->  
  <div class="HomeBox1">
    <div class="HomeBox1Content">
      <h1><img class="icon" src="images/icon_posts.png" alt="RECENT POSTS" title="RECENT POSTS" border="0"> RECENT POSTS</h1>
      
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth">OCT</font><BR>
          <font class="ListLrgDateDay">25</font>        
        </div>
        <div class="ListLrgTxt">
          <a href="" class="posts">Running a .NET app against a Postgres database in Docker</a><BR>
          <B>Kyle Baley</B><BR>
          Some days/weeks/time ago, I did a presentation at MeasureUP called "Docker For People Who Think Docker Is This Weird...
        </div>
      </div>      
      
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth">OCT</font><BR>
          <font class="ListLrgDateDay">21</font>        
        </div>
        <div class="ListLrgTxt">
          <a href="" class="posts">Using Java Build Script Tasks in Visual Studio Code</a><BR>
          <B>David Wesst</B><BR>
          I previously shared how I setup a custom problem matching in Visual Studio Code for compiling Java and displaying the...
        </div>
      </div>    
      
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth">OCT</font><BR>
          <font class="ListLrgDateDay">19</font>        
        </div>
        <div class="ListLrgTxt">
          <a href="" class="posts">Podcast: Life Outside .NET</a><BR>
          The Western Devs discuss working outside your comfort zone
        </div>
      </div>  
      
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth">OCT</font><BR>
          <font class="ListLrgDateDay">14</font>        
        </div>
        <div class="ListLrgTxt">
          <a href="" class="posts">Podcast: Refactor vs. Rewrite</a><BR>
          The Western Devs tackle the eternal debate: do we refactor or rewrite?
        </div>
      </div>  
      
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth">OCT</font><BR>
          <font class="ListLrgDateDay">14</font>        
        </div>
        <div class="ListLrgTxt">
          <a href="" class="posts">Custom Tasks for Java in Visual Studio Code</a><BR>
          <B>David Wesst</B><BR>
          Now that I’m a Java Developer, I no longer worry about the bloating feeling I get when I need to open up the original...
        </div>
      </div>  
    
    </div>
  </div>
<!--RECENT POSTS ENDS-->

