<!--RECENT POSTS STARTS-->  
  <div class="HomeBox1">
    <div class="HomeBox1Content">
      <h1><img class="icon" src="images/icon_posts.png" alt="RECENT POSTS" title="RECENT POSTS" border="0"> RECENT POSTS</h1>
      
      <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth">OCT</font><BR>
          <font class="ListLrgDateDay">25</font>        
        </div>
        <div class="ListLrgTxt">
          <a class="posts" href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          <% if (post.author && post.author.name ) { %>
          <B><%= post.author.name %></B><BR>
          <% } else {%>
          <B><%= post.author %></B><BR>
          <% } %>
          Some days/weeks/time ago, I did a presentation at MeasureUP called "Docker For People Who Think Docker Is This Weird...
        </div>
      </div>      
      <% }) %>
      
    </div>
  </div>
<!--RECENT POSTS ENDS-->

