<!--SPEAKING STARTS-->  
  <div class="HomeBox2">
    <div class="HomeBox2Content">
      <h2><img class="icon" src="images/icon_speaking.png" alt="SPEAKING" title="SPEAKING" border="0"> SPEAKING</h2>
      
      <div class="ListSmHomeBG">
        <div class="ListSmDateBG">
          <font class="ListSmDate">NOV 15</font>    
        </div>
        <div class="ListSmTxt">
          <a href="" class="subposts">SDE Conference</a><BR>
          Amir Barylko
        </div>
      </div>
      
      <div class="ListSmHomeBG">
        <div class="ListSmDateBG">
          <font class="ListSmDate">NOV 23</font>    
        </div>
        <div class="ListSmTxt">
          <a href="" class="subposts">Microsoft Virtual Academy</a><BR>
          James Chambers and Simon Timms
        </div>
      </div>
      
      <div class="ListSmHomeBG">
        <div class="ListSmDateBG">
          <font class="ListSmDate">NOV 30</font>    
        </div>
        <div class="ListSmTxt">
          <a href="" class="subposts">Canada's Technology Triangle .NET User Group</a><BR>
          Lori Lalonde
        </div>
      </div>
      
      <div class="ListSmHomeBG">
        <div class="ListSmDateBG">
          <font class="ListSmDate">DEC 15</font>    
        </div>
        <div class="ListSmTxt">
          <a href="" class="subposts">Winnipeg .NET User Group</a><BR>
          David Wesst
        </div>
      </div>
      
    </div>
  </div>
<!--SPEAKING ENDS-->  

