<!DOCTYPE html>
<html>

<%- partial('_partial/head') %>

<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0" rightmargin="0">


<!--WRAPPER STARTS--> 
<div class="Wrapper">

<%- partial('_partial/header') %>

<%- body %>

<!--FOOTER STARTS-->
<center>
  <div class="FooterBarTxt">&copy; 2015 Western Devs. All Rights Reserved. Design by <a href="http://www.karenchudobiak.ca" target="_blank">Karen Chudobiak, Graphic Designer</a></div>
</center>
<!--FOOTER ENDS-->  




</div>
<!--WRAPPER ENDS-->   

    
    
</body>
</html>
