<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>WesternDevs</title>
    <meta name="title" content="WesternDevs">   
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="copyright" content="WesternDevs">
    <meta name="revisit-after" content="15 days">
    <meta name="robots" content="all">
    <meta name="MSSmartTagsPreventParsing" content="true">
    <link rel="stylesheet" href="css/style.css" type="text/css">  
      
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  

  </head>

<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0" rightmargin="0">


<!--WRAPPER STARTS--> 
<div class="Wrapper">


<!--HEADER STARTS-->
<div class="WrapperHeader">
<center>
<div class="Header">

  <div class="HeaderLogo">
    <a href="index.html"><img src="images/header_logo.png" alt="WesternDevs" title="WesternDevs" border="0"></a>
  </div>

  <div class="HeaderLinks">
      <a href="/posts" class="nav">POSTS</a>       <a href="/podcasts" class="nav">PODCASTS</a>       <a href="/about" class="nav">ABOUT</a>  <a href="/whatwevedone" class="nav">WHAT WE'VE DONE</a>  <a href="/speaking" class="nav">SPEAKING</a><BR>
      <a href="mailto:info@westerndevs.com"><img src="images/icon_email.png" border="0" alt="Email" title="Email"></a>
      <a href="/feed"><img src="images/icon_subscribe.png" border="0" alt="Subscribe" title="Subscribe"></a>
      <a href="http://twitter.com/westerndevs" target="_blank"><img src="images/icon_twitter.png" border="0" alt="Twitter" title="Twitter"></a>
      <a href="http://github.com/westerndevs" target="_blank"><img src="images/icon_github.png" border="0" alt="GitHub" title="GitHub"></a>     
  </div>
  
</div>
</center>
</div>
<!--HEADER ENDS-->    

  
<!--SUBHEAD STARTS-->
<div class="WrapperSubHeader">
<center>
  <div class="SubHeader">
    <div class="SubHeaderIntro">
      <B>We are a group of humble, but amazing developers with one thing in common: we're all west of somewhere else.</B> Where we differ from similar sites: we talk to each other! Often. At conferences, via email, and on Slack. From Docker to Canadian politics to feature toggles to smoked meat, we're never at a loss for words. We <a class="intro" href="/posts">blog</a>, <a class="intro" href="/podcasts">talk</a>, <a class="intro" href="/whatwevedone">write</a>, and <a class="intro" href="/speaking">present</a>. Thanks for stopping by.
    </div>
  </div>
</center>
</div>
<!--SUBHEAD ENDS--> 


<!--PAGE CONTENT STARTS-->
<center>
<div class="WrapperContent">

  
<!--RECENT POSTS STARTS-->  
  <div class="HomeBox1">
    <div class="HomeBox1Content">
      <h1><img class="icon" src="images/icon_posts.png" alt="RECENT POSTS" title="RECENT POSTS" border="0"> RECENT POSTS</h1>
      
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth">OCT</font><BR>
          <font class="ListLrgDateDay">25</font>        
        </div>
        <div class="ListLrgTxt">
          <a href="" class="posts">Running a .NET app against a Postgres database in Docker</a><BR>
          <B>Kyle Baley</B><BR>
          Some days/weeks/time ago, I did a presentation at MeasureUP called "Docker For People Who Think Docker Is This Weird...
        </div>
      </div>      
      
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth">OCT</font><BR>
          <font class="ListLrgDateDay">21</font>        
        </div>
        <div class="ListLrgTxt">
          <a href="" class="posts">Using Java Build Script Tasks in Visual Studio Code</a><BR>
          <B>David Wesst</B><BR>
          I previously shared how I setup a custom problem matching in Visual Studio Code for compiling Java and displaying the...
        </div>
      </div>    
      
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth">OCT</font><BR>
          <font class="ListLrgDateDay">19</font>        
        </div>
        <div class="ListLrgTxt">
          <a href="" class="posts">Podcast: Life Outside .NET</a><BR>
          The Western Devs discuss working outside your comfort zone
        </div>
      </div>  
      
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth">OCT</font><BR>
          <font class="ListLrgDateDay">14</font>        
        </div>
        <div class="ListLrgTxt">
          <a href="" class="posts">Podcast: Refactor vs. Rewrite</a><BR>
          The Western Devs tackle the eternal debate: do we refactor or rewrite?
        </div>
      </div>  
      
      <div class="ListLrgHomeBG">
        <div class="ListLrgDateBG">
          <font class="ListLrgDateMonth">OCT</font><BR>
          <font class="ListLrgDateDay">14</font>        
        </div>
        <div class="ListLrgTxt">
          <a href="" class="posts">Custom Tasks for Java in Visual Studio Code</a><BR>
          <B>David Wesst</B><BR>
          Now that I’m a Java Developer, I no longer worry about the bloating feeling I get when I need to open up the original...
        </div>
      </div>  
    
    </div>
  </div>
<!--RECENT POSTS ENDS-->

<!--PODCASTS STARTS-->  
  <div class="HomeBox2">
    <div class="HomeBox2Content">
      <h2><img class="icon" src="images/icon_podcasts.png" alt="LATEST PODCASTS" title="LATEST PODCASTS" border="0"> LATEST PODCASTS</h2>
      <a href="" class="subposts">Life Outside .NET</a><BR>
      <B>Oct 25</B> - The Western Devs discuss working outside your comfort zone<BR><BR>
      <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/3974740/height/50/width/640/theme/standard/direction/no/autoplay/no/autonext/no/thumbnail/no/preload/no/no_addthis/no/" height="50" width="270" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      <enclosure url="http://traffic.libsyn.com/westerndevspodcast/Zencastr.mp3" length="43997390" type="audio/mpeg" ></enclosure>


    </div>
  </div>
<!--PODCASTS ENDS-->

<!--SPEAKING STARTS-->  
  <div class="HomeBox2">
    <div class="HomeBox2Content">
      <h2><img class="icon" src="images/icon_speaking.png" alt="SPEAKING" title="SPEAKING" border="0"> SPEAKING</h2>
      
      <div class="ListSmHomeBG">
        <div class="ListSmDateBG">
          <font class="ListSmDate">NOV 15</font>    
        </div>
        <div class="ListSmTxt">
          <a href="" class="subposts">SDE Conference</a><BR>
          Amir Barylko
        </div>
      </div>
      
      <div class="ListSmHomeBG">
        <div class="ListSmDateBG">
          <font class="ListSmDate">NOV 23</font>    
        </div>
        <div class="ListSmTxt">
          <a href="" class="subposts">Microsoft Virtual Academy</a><BR>
          James Chambers and Simon Timms
        </div>
      </div>
      
      <div class="ListSmHomeBG">
        <div class="ListSmDateBG">
          <font class="ListSmDate">NOV 30</font>    
        </div>
        <div class="ListSmTxt">
          <a href="" class="subposts">Canada's Technology Triangle .NET User Group</a><BR>
          Lori Lalonde
        </div>
      </div>
      
      <div class="ListSmHomeBG">
        <div class="ListSmDateBG">
          <font class="ListSmDate">DEC 15</font>    
        </div>
        <div class="ListSmTxt">
          <a href="" class="subposts">Winnipeg .NET User Group</a><BR>
          David Wesst
        </div>
      </div>
      
    </div>
  </div>
<!--SPEAKING ENDS-->  

<!--WHAT WE HAVE DONE STARTS-->
<div class="HomeBox3">
  <a href="/whatwevedone"><img class="HomeBoxDoneImg" src="images/bg_home_whatwevedone.png" alt="What We've Done" title="What We've Done" border="0"></a>
  
  <div class="HomeBox3Txt">
    A random sample of some of the things we've done.<BR><BR>
    
    <table cellpadding="0" cellspacing="0" width="100%" border="0">
      <tr valign="top">
      <td width="34%"><a href=""><center><img src="images/FPO_done1.jpg" border="0"></a></center></td>
      <td width="33%"><a href=""><center><img src="images/FPO_done2.png" border="0"></a></center></td>
      <td width="33%"><a href=""><center><img src="images/FPO_done3.jpg" border="0"></a></center></td>
      </tr>
    </table>

  </div>
  
</div>
<!--WHAT WE HAVE DONE ENDS-->


<!--FEATURE STARTS-->
<div class="HomeBox4">
  <div class="HomeBox4Txt">
    <div class="HomeFeatureImg" style="background-image: url('images/DarcyLussier.jpg'); ">&nbsp;</div>
    <H3>D'Arcy Lussier</H3>
    D’Arcy Lussier is an experienced technology professional with 15 years of experience architecting and developing applications. He is a Microsoft Certified Professional Developer and has been awarded a Microsoft Most Valuable Professional award in ASP.NET from 2008 through 2015...
    <BR>
    <a href="">> LEARN MORE</a>

  </div>
  <a href="/whatwevedone"><img class="HomeBoxFeatureImg" src="images/bg_home_feature.png" alt="Feature" title="Feature" border="0"></a>   
  
</div>
<!--FEATURE ENDS-->


</div>
</center>
<!--PAGE CONTENT ENDS-->


<!--FOOTER STARTS-->
<center>
  <div class="FooterBarTxt">&copy; 2015 Western Devs. All Rights Reserved. Design by <a href="http://www.karenchudobiak.ca" target="_blank">Karen Chudobiak, Graphic Designer</a></div>
</center>
<!--FOOTER ENDS-->  




</div>
<!--WRAPPER ENDS-->   

    
    
</body>
</html>
