<!--SUBHEAD STARTS-->
<div class="WrapperSubHeaderSubpage">
<center>
	<div class="SubHeader">
		<H1 class="title"><img class="icon" src="/images/icon_posts.png" alt="POSTS" title="POSTS" border="0"> POSTS</H1>
	</div>
</center>
</div>
<!--SUBHEAD ENDS-->	

<!--PAGE CONTENT STARTS-->
<center>
<div class="WrapperContent">

<!--MAIN CONTENT STARTS-->	
	<div class="SubpageBoxSubLrg">
		<div class="SubpageBoxSubLrgContent">
		    <%- partial('post/title', { title: post.title }) %>
		    <%- partial('post/original_url') %>
			
	        <%- post.content %>
		</div>
	</div>
<!--MAIN CONTENT ENDS-->

<%- partial('_widget/author_sidebar', { author: post.author }) %>

</div>
</center>
<!--PAGE CONTENT ENDS-->
