<!--HEADER STARTS-->
<div class="WrapperHeader">
<center>
<div class="Header">

  <div class="HeaderLogo">
    <a href="/"><img src="/images/header_logo.png" alt="WesternDevs" title="WesternDevs" border="0"></a>
  </div>

  <div class="HeaderLinks">
      <a href="/posts" class="nav">POSTS</a>       
      <a href="/podcasts" class="nav">PODCASTS</a>       
      <a href="/about" class="nav">ABOUT</a>  
      <a href="/whatwevedone" class="nav">WHAT WE'VE DONE</a>  
      <a href="/speaking" class="nav">SPEAKING</a>
      <BR>
      <a href="mailto:info@westerndevs.com"><img src="/images/icon_email.png" border="0" alt="Email" title="Email"></a>
      <a href="/feed"><img src="/images/icon_subscribe.png" border="0" alt="Subscribe" title="Subscribe"></a>
      <a href="http://twitter.com/westerndevs" target="_blank"><img src="/images/icon_twitter.png" border="0" alt="Twitter" title="Twitter"></a>
      <a href="http://github.com/westerndevs" target="_blank"><img src="/images/icon_github.png" border="0" alt="GitHub" title="GitHub"></a>     
  </div>
  
</div>
</center>
</div>
<!--HEADER ENDS-->    

