<!--SUBHEAD STARTS-->
<div class="WrapperSubHeader">
<center>
  <div class="SubHeader">
    <div class="SubHeaderIntro">
      <B>We are a group of humble, but amazing developers with one thing in common: we're all west of somewhere else.</B> Where we differ from similar sites: we talk to each other! Often. At conferences, via email, and on Slack. From Docker to Canadian politics to feature toggles to smoked meat, we're never at a loss for words. We <a class="intro" href="/posts">blog</a>, <a class="intro" href="/podcasts">talk</a>, <a class="intro" href="/whatwevedone">write</a>, and <a class="intro" href="/wherewellbe">present</a>. Thanks for stopping by.
    </div>
  </div>
</center>
</div>
<!--SUBHEAD ENDS--> 

