@import 'nib'
@import '_partial/syntax'
@import '_font-awesome/index'
@import "_variables"
@import 'corner-ribbon'

@font-face
  font-family 'open_sansregular'
  src url('fonts/opensans-regular-webfont.eot')
  src url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-w/ebfont.svg#open_sansregular') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'open_sansbold'
  src url('fonts/opensans-bold-webfont.eot')
  src url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg')
  font-weight bold
  font-style normal

@font-face
  font-family 'open_sansbold_italic'
  src url('fonts/opensans-bolditalic-webfont.eot')
  src url('fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg')
  font-weight bold
  font-style italic

@font-face
  font-family 'open_sansitalic'
  src url('fonts/opensans-italic-webfont.eot')
  src url('fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('fonts/opensans-italic-webfont.woff') format('woff'),
         url('fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg')
  font-weight normal
  font-style italic

@font-face
  font-family 'UbuntuTitlingBold'
  src url('fonts/UbuntuTitling-Bold-webfont.eot')
  src url('fonts/UbuntuTitling-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/UbuntuTitling-Bold-webfont.woff') format('woff'),
         url('fonts/UbuntuTitling-Bold-webfont.ttf') format('truetype'),
         url('fonts/UbuntuTitling-Bold-webfont.svg#UbuntuTitlingBold') format('svg')
  font-weight normal
  font-style normal

BODY
  BACKGROUND-COLOR #FFFFFF
  FONT-FAMILY 'open_sansregular', arial, helvetica, verdana, sans serif
  font-weight 100
  FONT-SIZE 14px
  LINE-HEIGHT 14pt
  COLOR #555555
  background-repeat no-repeat
  background-image URL('/images/bg.jpg')
  background-position top center
  margin-top:100px
  @media mq-mobile
    margin 72px 0 0 0

A:LINK, A:ACTIVE, A:VISITED, A:HOVER
  COLOR #0e76bc
  text-decoration none

A.nav:LINK, A.nav:ACTIVE, A.nav:VISITED, A.nav:HOVER
  display inline-block
  margin 10px 0px 0px 30px
  COLOR #262262
  FONT-FAMILY 'UbuntuTitlingBold', arial, helvetica, verdana, sans serif
  FONT-SIZE 17px
  text-decoration none
  text-transform uppercase
  font-weight 100

A.intro:LINK, A.intro:ACTIVE, A.intro:VISITED, A.intro:HOVER
  COLOR #FFFFFF
  text-decoration underline

A.posts:LINK, A.posts:ACTIVE, A.posts:VISITED, A.posts:HOVER
  COLOR #005da0
  FONT-FAMILY 'open_sansbold', arial, helvetica, verdana, sans serif
  FONT-SIZE 16px
  text-decoration none
  font-weight 100

.recentPosts A.posts
  height 20px
  @media mq-normal
    overflow hidden
    text-overflow ellipsis
    width 560px
    white-space nowrap
    display inline-block

A.subposts:LINK, A.subposts:ACTIVE, A.subposts:VISITED, A.subposts:HOVER
  COLOR #0e76bc
  FONT-FAMILY 'open_sansbold', arial, helvetica, verdana, sans serif
  text-decoration none
  font-weight 100

.Wrapper
  position relative
  display block
  width 100%
  clear both
  @media mq-normal
    min-width 1024px

.WrapperContent
  position relative
  display block
  margin-top 10px
  clear both
  text-align left
  @media mq-normal
    width 1024px

.WrapperHeader
  position fixed
  top 0px
  z-index 1000
  display block
  width 100%
  clear both
  background-color #FFFFFF
  @media mq-normal
    min-width 1024px
    text-align center
    height 100px
    -webkit-box-shadow 0px 20px 20px -10px rgba(0,0,0,0.4)
    -moz-box-shadow 0px 20px 20px -10px rgba(0,0,0,0.4)
    box-shadow 0px 20px 20px -10px rgba(0,0,0,0.4)
    img
      margin-top 18px
  @media mq-mobile
    position absolute
    height 72px
    img
      margin-top 4px
      margin-left 5px

.Header
  position relative
  display block
  text-align left
  @media mq-normal
    width 1024px

.HeaderLogo
  float left
  display block
  width 206px
  text-align left

.HeaderLinks
  float right
  display block
  width 800px
  margin 20px 0px 0px 0px
  height 50px
  text-align right
  @media mq-mobile
    display none

.WrapperSubHeader
  position relative
  display block
  width 100%
  background-color rgba(0, 93, 160,0.5)
  clear both
  @media mq-normal
    min-width 1024px
    height 170px

.SubHeader
  position relative
  display block
  text-align left
  @media mq-normal
    width 1024px
    .mainBlurb
      FONT-FAMILY 'open_sansbold', arial, helvetica, verdana, sans serif
      font-weight 100
  @media mq-mobile
    padding 5px
    .extraBlurb
      display none

.SubHeaderIntro
  display block
  COLOR #FFFFFF
  FONT-FAMILY 'open_sansregular', arial, helvetica, verdana, sans serif
  font-size 18px
  line-height 20pt
  text-shadow 2px 2px 2px rgba(0, 0, 0, 0.5)
  font-weight 100
  @media mq-normal
    padding-top 26px

.WrapperSubHeaderSubpage
  position relative
  display block
  width 100%
  background-color rgba(0, 93, 160,0.5)
  clear both
  @media mq-normal
    min-width 1024px
    height 90px

.HomeBox1, .HomeBox2, .HomeBox3, .HomeBox4
  float left
  display block
  text-align left
  background-color #FFFFFF
  -webkit-border-radius 8px
  -moz-border-radius 8px
  border-radius 8px
  border #a4dce0 1px solid
  -webkit-box-shadow 0px 10px 10px -10px rgba(0,0,0,0.3)
  -moz-box-shadow 0px 10px 10px -10px rgba(0,0,0,0.3)
  box-shadow 0px 10px 10px -10px rgba(0,0,0,0.3)

.HomeBox1
  @media mq-mobile
    margin 5px 5px 0
  @media mq-normal
    width 700px
    margin 10px 10px 0px 0px

.HomeBox2
  width 310px
  margin 10px 0px 0px 0px

.HomeBox3
  overflow hidden
  clear both
  width 1024px
  height 238px
  margin 10px 0px 0px 0px
  background-color #eff8f8
  @media mq-mobile
    display none

.HomeBox4
  overflow hidden
  clear both
  width 1024px
  height 187px
  margin 10px 0px 0px 0px
  background-color #eff8f8
  @media mq-mobile
    display none

.HomeBox1Content, .HomeBox2Content
  float left
  display block
  text-align left
  margin-top 20px
  margin-bottom 20px
  margin-left 10px
  @media mq-normal
    width 660px
    margin-left 20px

.HomeBox2Content
  width 270px

.HomeBoxDoneImg
  float left
  display block
  -webkit-border-radius 8px 0px 0px 8px
  -moz-border-radius 8px 0px 0px 8px
  border-radius 8px 0px 0px 8px

.HomeBox3Txt
  float left
  display block
  width 690px
  text-align center
  margin 10px 0px 10px 0px

.HomeBox4Txt
  float left
  display block
  width 690px
  text-align left
  margin 15px 0px 0px 15px

.HomeBoxFeatureImg
  float right
  display block
  -webkit-border-radius 0px 8px 8px 0px
  -moz-border-radius 0px 8px 8px 0px
  border-radius 0px 8px 8px 0px

.HomeFeatureImg
  float left
  display block
  height 145px
  width 145px
  -webkit-border-radius 8px
  -moz-border-radius 8px
  border-radius 8px
  background-repeat no-repeat
  background-position center
  background-size cover
  margin 0px 10px 0px 0px

.HomeFeatureImg img
  height 145px
  max-width 145px
  -webkit-border-radius 8px
  -moz-border-radius 8px
  border-radius 8px


.SubpageBoxFull, .SubpageBoxSubLrg, .SubpageBoxSubSm
  float left
  display block
  text-align left
  background-color #FFFFFF
  -webkit-border-radius 8px
  -moz-border-radius 8px
  border-radius 8px
  border #a4dce0 1px solid
  -webkit-box-shadow 0px 10px 10px -10px rgba(0,0,0,0.3)
  -moz-box-shadow 0px 10px 10px -10px rgba(0,0,0,0.3)
  box-shadow 0px 10px 10px -10px rgba(0,0,0,0.3)

.SubpageBoxFull
  margin 10px 10px 0px 0px
  @media mq-normal
    width 1024px

.SubpageBoxSubLrg
  margin 10px 10px 0px 0px
  @media mq-normal
    width 700px
  @media mq-mobile
    img
      max-width 100%

.SubpageBoxSubSm
  width 310px
  margin 10px 0px 0px 0px

.SubpageBoxFullContent, .SubpageBoxSubLrgContent, .SubpageBoxSubSmContent
  float left
  display block
  text-align left
  margin 20px

.SubpageBoxFullContent
  @media mq-normal
    width 984px

.SubpageBoxSubLrgContent
  @media mq-content
    width 660px

.SubpageBoxSubSmContent
  width 270px

.ListLrgHomeBG, .ListLrgSubBG
  float left
  display block
  margin 0px 0px 0px 0px
  text-align left
  background-repeat no-repeat
  background-image URL('/images/bg_listing.png')
  background-position top left
  @media mq-mobile
    padding 5px
    margin-right 10px
    width 95%

@media mq-normal
  .ListLrgHomeBG
    width 660px

.ListLrgSubBG
  @media mq-normal
    width 984px

.ListLrgDateBG
  @media mq-normal
    display inline-block
    margin 10px 10px 15px 10px
    text-align center
    background-color #005da0
    -webkit-border-radius 8px
    -moz-border-radius 8px
    border-radius 8px
    float left
    height 50px
    width 60px
    padding 5px 0px 0px 0px
  div
    @media mq-mobile
      display inline

.ListLrgDateMonth, .ListLrgDateDay
  font-family 'open_sansbold', arial
  font-weight 100
  @media mq-normal
    color #FFFFFF
  @media mq-mobile
    color #262262

.ListLrgDateMonth
  @media mq-normal
    font-size 16px
    line-height 16pt

.ListLrgDateDay
  @media mq-normal
    font-size 24px
    line-height 14pt

.ListLrgDateYear
  @media mq-normal
    line-height 14pt
    font-size 12px
    color #005da0
    background-color #FFFFFF
    margin 3px 2px 0 2px
    border-radius 0 0 6px 6px

.ListLrgTxt, .ListLrgTxtSub
  @media mq-normal
    float left
    display inline-block
    margin 10px 0px 15px 0px
    text-align left

.ListLrgTxt
  @media mq-normal
    width 560px

.ListLrgTxtSub
  @media mq-normal
    width 880px

.ListSmHomeBG
  float left
  display block
  margin 0px 0px 10px 0px
  width 270px
  text-align left
  border-top #d1d3d4 1px solid

.ListSmDateBG
  float left
  display inline-block
  padding 3px 0px 0px 0px
  margin 8px 10px 0px 0px
  width 60px
  height 22px
  text-align center
  background-color #25aae1
  -webkit-border-radius 6px
  -moz-border-radius 6px
  border-radius 6px

.ListSmDate
  FONT-FAMILY 'open_sansbold', arial, helvetica, verdana, sans serif
  font-size 13px
  color #FFFFFF
  font-weight 100

.ListSmTxt
  float left
  display inline-block
  width 190px
  margin 8px 0px 0px 0px
  text-align left

IMG
  &.icon
    vertical-align middle
    width 36px
    height 36px
  &.FX1
    -webkit-box-shadow 2px 5px 12px 2px rgba(0,0,0,0.3)
    -moz-box-shadow 2px 5px 12px 2px rgba(0,0,0,0.3)
    box-shadow 2px 5px 12px 2px rgba(0,0,0,0.3)
    margin 0px 0px 20px 0px

.ProfileImg
  float left
  display block
  background-repeat no-repeat
  background-position center
  background-size cover
  margin-bottom 10px
  clear both

.ProfileIcon
  margin-bottom 6px
  vertical-align middle

.FooterBarTxt
  position relative
  display block
  width 100%
  height 40px
  text-align center
  clear both
  padding 10px 0px 10px 0px
  color #262262
  font-size 12px
  @media mq-normal
    min-width 1024px

.NavFooter
  @media mq-normal
    display none
  @media mq-mobile
    position fixed
    bottom 0
    left 0
    background-color #eee
    width 100%
    padding 5px 0 2px 0
    text-align center
    display inline-block
  A
    vertical-align middle
    display inline-block
    padding 0 10px
    color #999
    SPAN
      display block
      text-transform uppercase
      font-size 10px
      font-weight bold

.TXTsm
  font-size 11px

.BackTop
  float right
  display block
  font-size 12px

.NavBackPage, .NavForwardPage
  display block
  width 200px
  margin 10px 0px 10px 0px

.NavBackPage
  float left
  text-align left

.NavForwardPage
  float right
  text-align right

b, strong
  font-family 'open_sansbold', arial
  font-weight 100
  &.italic
    font-family 'open_sansbold_italic', arial
    font-weight 100

i, em
  font-family 'open_sansitalic', arial
  font-weight 100

p
  margin 0px 0px 12px 0px

ul
  margin 4px 0px 4px 0px

HR.LineFull1, HR.LineFull2, HR.LineMed1, HR.LineMed2
  position relative
  display block
  clear both
  border 0px
  height 1px
  width 100%

HR
  &.LineFull1
    background-color #d1d3d4
    margin 20px 0px 20px 0px
  &.LineFull2
    background-color #e0e3e4
    margin 10px 0px 15px 0px
  &.LineMed1
    background-color #d1d3d4
    margin 20px 0px 20px 0px
  &.LineMed2
    background-color #d1d3d4
    margin 20px 0px 20px 0px

h1
  font-family 'UbuntuTitlingBold', arial
  COLOR #262262
  FONT-SIZE 28px
  line-height 22pt
  MARGIN-TOP 0px
  MARGIN-BOTTOM 4px
  text-transform uppercase
  font-weight 100
  &.title
    display block
    padding-top 30px
    font-family 'UbuntuTitlingBold', arial
    COLOR #FFFFFF
    FONT-SIZE 32px
    line-height 24pt
    MARGIN-TOP 0px
    MARGIN-BOTTOM 4px
    text-transform uppercase
    text-shadow 2px 2px 2px rgba(0, 0, 0, 0.5)
    font-weight 100
    @media mq-mobile
      padding-top 10px

h2
  font-family 'UbuntuTitlingBold', arial
  COLOR #262262
  FONT-SIZE 24px
  line-height 18pt
  MARGIN-TOP 0px
  MARGIN-BOTTOM 4px
  text-transform uppercase
  font-weight 100

h3
  font-family 'UbuntuTitlingBold', arial
  COLOR #262262
  FONT-SIZE 18px
  line-height 15pt
  MARGIN-TOP 0px
  MARGIN-BOTTOM 4px
  padding-top 8px
  text-transform uppercase
  font-weight 100

h4
  font-family 'UbuntuTitlingBold', arial
  COLOR #262262
  FONT-SIZE 16px
  line-height 12pt
  MARGIN-TOP 0px
  MARGIN-BOTTOM 4px
  text-transform uppercase
  font-weight 100

h5
  font-family 'UbuntuTitlingBold', arial
  COLOR #262262
  FONT-SIZE 16px
  line-height 12pt
  MARGIN-TOP 0px
  MARGIN-BOTTOM 4px
  text-transform uppercase
  font-weight 100

.originalurl
  text-transform uppercase

.SubpageBoxSubLrgContent IMG
  @media mq-normal
    max-width 640px

.ProfileImg IMG
  border-radius 8px
  height: 200px
  max-width: 200px

.category-heading:not(:first-child)
  padding-top 20px
  clear both

.book
  display inline-block
  text-align center
  @media mq-normal
    width 23%
  @media mq-mobile
    width 45%
.book img
  height 200px
  @media mq-mobile
    height 150px

.podcast-content
  margin-top 20px

.podcast-icon
  color #262262

li
  line-height 1.8em

.podcast-content h3:not(:first-child), .podcast-content h4:not(:first-child)
  padding-top 10px

.pull-left
  float left
  padding-right 20px

.pull-right
  float right
  padding-left 20px

.clearfix
  clear both

.footnote
  font-size: 0.75rem;

.notice
  margin: 1.5em 0;
  padding: .5em 1em;
  text-indent: 0;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #efefef;

.notice p
  margin 0

.postTitle
  height: 60px;
  line-height: 60px;
  vertical-align: middle;

.postTitle H2
  display inline-block
  margin-top: 15px;
  vertical-align: middle;
  font-size: 28px;
  @media mq-normal
    width 563px

.postTitle img
  vertical-align: middle;

.postTitle .ListLrgDateBG
  height 68px
  margin 10px 10px 15px 0

.postTitle .ListLrgDateDay
  line-height 18pt

h1 A:LINK, h1 A:HOVER, h1 A:ACTIVE, h1 A:VISITED,
h2 A:LINK, h2 A:HOVER, h2 A:ACTIVE, h2 A:VISITED
  COLOR #262262

.mobile-only
  @media mq-normal
    display none

.desktop-only
  @media mq-mobile
    display none

#mainPostContent
  clear both

#mainPostContent h2
  margin: 30px 0 10px;

#mainPostContent
  @media mq-mobile
    width 450px
  @media mq-normal
    width 620px
